<!DOCTYPE html>
<%#include "../../controllers/blogcontroller.h" %>
<% tfetch(BlogArticle, blogarticle); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Article</h1>
<dt>ID</dt><dd><%= blogarticle.id %></dd><br />
<dt>Title</dt><dd><%= blogarticle.title %></dd><br />
<dt>Body</dt><dd><%= blogarticle.body %></dd><br />

<% for(int i = 0; i < blogarticle.tagnames.size(); ++i ){ %>

<%=blogarticle.tagnames.at(i) %>
<% } %>


</body>
</html>
